In [1]:
import pandas as pd

In [2]:
df = pd.read_excel(r"D:\Ali\Project Portfolio\Modeling\cleaned_blinkit_data.xlsx")
df

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales,Item_Type_Combined
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,Medium,Tier 1,Supermarket Type1,8.225808,Food
1,DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,Medium,Tier 3,Supermarket Type2,6.096776,Drinks
2,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,Medium,Tier 1,Supermarket Type1,7.648868,Food
3,FDX07,19.200,Regular,0.022911,Fruits and Vegetables,182.0950,OUT010,Small,Tier 3,Grocery Store,6.597664,Food
4,NCD19,8.930,Non-Edible,0.016164,Household,53.8614,OUT013,High,Tier 3,Supermarket Type1,6.903451,Non-Consumable
...,...,...,...,...,...,...,...,...,...,...,...,...
8518,FDF22,6.865,Low Fat,0.056783,Snack Foods,214.5218,OUT013,High,Tier 3,Supermarket Type1,7.929984,Food
8519,FDS36,8.380,Regular,0.046982,Baking Goods,108.1570,OUT045,Small,Tier 2,Supermarket Type1,6.310436,Food
8520,NCJ29,10.600,Non-Edible,0.035186,Health and Hygiene,85.1224,OUT035,Small,Tier 2,Supermarket Type1,7.085159,Non-Consumable
8521,FDN46,7.210,Regular,0.145221,Snack Foods,103.1332,OUT018,Medium,Tier 3,Supermarket Type2,7.521100,Food
8522,DRG01,14.800,Low Fat,0.044878,Soft Drinks,75.4670,OUT046,Small,Tier 1,Supermarket Type1,6.642056,Drinks

In [3]:
df.columns

Index(['Item_Identifier', 'Item_Weight', 'Item_Fat_Content', 'Item_Visibility',
       'Item_Type', 'Item_MRP', 'Outlet_Identifier', 'Outlet_Size',
       'Outlet_Location_Type', 'Outlet_Type', 'Item_Outlet_Sales',
       'Item_Type_Combined'],
      dtype='object')

In [4]:
# Checking Null
df.isnull().any()

Item_Identifier         False
Item_Weight             False
Item_Fat_Content        False
Item_Visibility         False
Item_Type               False
Item_MRP                False
Outlet_Identifier       False
Outlet_Size             False
Outlet_Location_Type    False
Outlet_Type             False
Item_Outlet_Sales       False
Item_Type_Combined      False
dtype: bool

In [5]:
# Checking Type
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Item_Identifier       8523 non-null   object
 1   Item_Weight           8523 non-null   float64
 2   Item_Fat_Content      8523 non-null   object
 3   Item_Visibility       8523 non-null   float64
 4   Item_Type             8523 non-null   object
 5   Item_MRP              8523 non-null   float64
 6   Outlet_Identifier     8523 non-null   object
 7   Outlet_Size           8523 non-null   object
 8   Outlet_Location_Type  8523 non-null   object
 9   Outlet_Type           8523 non-null   object
 10  Item_Outlet_Sales     8523 non-null   float64
 11  Item_Type_Combined    8523 non-null   object
dtypes: float64(4), object(8)
memory usage: 799.2+ KB

In [6]:
# Mapping Outlet_Size & Outlet_Location_Type
size_mapping = {'Small': 0, 'Medium': 1, 'High': 2}
df['Outlet_Size'] = df['Outlet_Size'].map(size_mapping)

location_mapping = {'Tier 1': 0, 'Tier 2': 1, 'Tier 3': 2}
df['Outlet_Location_Type'] = df['Outlet_Location_Type'].map(location_mapping)

print(df[['Outlet_Size', 'Outlet_Location_Type']].head())

   Outlet_Size  Outlet_Location_Type
0            1                     0
1            1                     2
2            1                     0
3            0                     2
4            2                     2

In [7]:
# Label Encoding the remaining object columns
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

# List of remaining object columns
remaining_cols = [
    'Item_Identifier', 
    'Item_Fat_Content', 
    'Item_Type', 
    'Outlet_Identifier', 
    'Outlet_Type', 
    'Item_Type_Combined'
]

for col in remaining_cols:
    df[col] = le.fit_transform(df[col])

print(df[remaining_cols].dtypes)
print(df[remaining_cols].head())

Item_Identifier       int64
Item_Fat_Content      int64
Item_Type             int64
Outlet_Identifier     int64
Outlet_Type           int64
Item_Type_Combined    int64
dtype: object
   Item_Identifier  Item_Fat_Content  Item_Type  Outlet_Identifier  \
0              156                 0          4                  9
1                8                 2         14                  3
2              662                 0         10                  9
3             1121                 2          6                  0
4             1297                 1          9                  1

   Outlet_Type  Item_Type_Combined
0            1                   1
1            2                   0
2            1                   1
3            0                   1
4            1                   2

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Item_Identifier       8523 non-null   int64
 1   Item_Weight           8523 non-null   float64
 2   Item_Fat_Content      8523 non-null   int64
 3   Item_Visibility       8523 non-null   float64
 4   Item_Type             8523 non-null   int64
 5   Item_MRP              8523 non-null   float64
 6   Outlet_Identifier     8523 non-null   int64
 7   Outlet_Size           8523 non-null   int64
 8   Outlet_Location_Type  8523 non-null   int64
 9   Outlet_Type           8523 non-null   int64
 10  Item_Outlet_Sales     8523 non-null   float64
 11  Item_Type_Combined    8523 non-null   int64
dtypes: float64(4), int64(8)
memory usage: 799.2 KB

In [9]:
# Splitting the Data into X & y
X = df.drop(columns=["Item_Outlet_Sales", "Item_Identifier", "Outlet_Identifier"])

y = df["Item_Outlet_Sales"]

In [10]:
# Time to Train and Test
from sklearn.model_selection import train_test_split

# Split the data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

print(f"Training set size: {X_train.shape[0]} rows")
print(f"Testing set size: {X_test.shape[0]} rows")

Training set size: 6818 rows
Testing set size: 1705 rows

In [ ]:
# Training the model with Random Forest
from sklearn.ensemble import RandomForestRegressor

rf_model = RandomForestRegressor(n_estimators=100, random_state=42)

rf_model.fit(X_train, y_train)

print("Random Forest model training complete.")

In [ ]:
# Let's check what score we've got
Train_score = rf_model.score(X_train, y_train)*100
Test_score = rf_model.score(X_test, y_test)*100

print(f"Train score (R2): {Train_score:.4f}")
print(f"Test score (R2): {Test_score:.4f}")

In [ ]:
# Creating y Predict
y_pred = rf_model.predict(X_test)

print(y_pred.shape)

In [ ]:
# Comparing our model with Test
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
import numpy as np

r2 = r2_score(y_test, y_pred)*100

mae = mean_absolute_error(y_test, y_pred)*100

rmse = np.sqrt(mean_squared_error(y_test, y_pred))*100

print(f"R2 Score (Model Accuracy): {r2:.2f}")
print(f"Mean Absolute Error: {mae:.2f}")
print(f"RMSE: {rmse:.2f}")